@import "../Sass-Components/Variables";
@import "../Sass-Components/fonts";
@import "../Sass-Components/mixins";

.project {
  min-height: 100vh;
  height: auto;
  padding-left: 150px;
  padding-top: 15px;
  font-family: $content-font-family;
  &__heading {
    font-family: $heading-font-family;
    font-size: 30px;
    @include mq(400px) {
      font-size: 15px;
  }

  @include mq(640px) {
      font-size: 20px;
  }
  }
  &__description {
    min-height: 100vh;
    height: auto;
    @include centeredFlex();
    .timeline {
      width: 80%;
      height: auto;
      max-width: 1800px;
      margin: 0 auto;
      position: relative;
      ul {
        list-style: none;

        li {
          padding: 20px;
          background-color: $front-content-color;
          color: $white;
          border-radius: 10px;
          margin-bottom: 20px;

          :last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {

  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: $gray-color;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }

  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: $front-content-color;
  }
}

@media only screen and (min-width:400px) and(max-width:767px)
{
 .timeline{
  background-color: aquamarine;
  min-width: 350px;
  margin: auto;
  margin-left: 100px;

 }   
}