@import "../../Sass-Components/fonts";
@import "../../Sass-Components/Variables";
@import "../../Sass-Components/mixins";

.education-card {
    @include spaceAroundFlex();
    height:160px;
    background-color: $content-background-color;
    font-family: $content-font-family;
    border-radius: 20px;
    padding-left: 25px;
    color: $navbar-text-color;

    .heading2 {
        font-size: 30px;
    }

    .heading4 {
        font-size: 18px;
    }
}