@import url('https://fonts.googleapis.com/css2?family=Ruluko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

$heading-font-family: 'Rock Salt', serif;
$content-font-family: 'Ruluko', sans-serif;
$navbar-font-family: 'Roboto Slab', serif;