@mixin centeredGrid {
  display: grid;
  place-items: center;
}

@mixin backGround
{
background-repeat: no-repeat;
background-size: contain;
}

// Note in these type of mixins first word refers to 
//justify content and second to align items

//Using inheritance to remove redundancy
.colflex {
  display: flex;
  flex-direction: column; 
}
@mixin spaceAroundEndFlex
{
    @extend .colflex;
    justify-content: space-around;
    align-items: flex-end;
}

@mixin spaceAroundFlex 
{
  @extend .colflex;
  justify-content: space-around;
}