
//Light Theme Colors
$front-heading-color: #23AC93;
$front-content-color: #1E5255;

$navbar-text-color: #ffffff;
$heading-color: #000;
$content-background-color: #29A57B;
$footer-right-color: #278C70;

$project-card-color: #1e1f22;
$white: #ffffff;
$gray-color: rgb(128,128,128);