@import "../../Sass-Components/fonts";
@import "../../Sass-Components/Variables";
@import "../../Sass-Components/mixins";
.projectCard {
    height: 250px;
    width: 500px;
    @include backGround();
    &__img {
    width:100%;
    height:100%;
    border-radius: 15px;
    }
}