@import "../../Sass-Components/fonts";
@import "../../Sass-Components/Variables";
@import "../../Sass-Components/mixins";
.projectCard {
  
    @include backGround();
    &__img {
    height: 250px;
    width: 500px;
    border-radius: 15px;
    }
}