@import "../Sass-Components/Variables";
@import "../Sass-Components/fonts";
@import "../Sass-Components/mixins";
* {
  font-weight: bolder;
}
.contact {
  height: 100vh;
  padding-left: 150px;
  padding-top: 15px;
  font-family: $content-font-family;
  &__heading {
    font-size: 30px;
    font-family: $heading-font-family;
  }

  &__description {
      
    .up {
        height: 65vh;
        display: flex;
        margin: 0 auto;
        width: 65%;
        font-size: 1.7em;
        &__left {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly ;
            background-color:$content-background-color;
            height: 100%;


            input{
              font-family: $content-font-family; 
              border-radius: 10px;
              outline:0;
              border: 0;
              padding: 10px 30px 10px 30px;
            }
            .name , .email {
              display: flex;
              align-items: center;
              justify-content: space-around;
            }
            .description_label {
             margin: 0 auto;
            }
            .description__text {
          display: grid;
          place-items: center;
          textarea {
            font-family: $content-font-family; 
            outline:none;
            border: 0;
            border-radius: 10px;
            padding: 17px 30px 17px 30px;
          }
            }
            .submit_button {
              margin: 0 auto;
              button {
              font-size: 25px;
              font-family: $content-font-family; 
              outline:none;
              border: 0;
              border-radius: 10px;
              padding: 5px 70px 5px 70px;
              cursor: pointer;
              }
            }

        }
        &__right {
            flex: 1;
            background-color: $front-content-color;
        }
    }
    .down {
       height: 15vh;
        position: relative;
        p {
           text-align: center;
           position: absolute;
           bottom: 0;
           left: 50%;
           transform: translateX(-50%);
           color: rgb(250, 0, 0);
           font-size: 40px;
        }
    }
  }
}
