@import "../Sass-Components/Variables";
@import "../Sass-Components/fonts";
@import "../Sass-Components/mixins";
* {
  font-weight: bolder;
}
.contact {
  min-height: 100vh;
  height: auto;
  padding: 15px 0px 0px 150px;
  font-family: $content-font-family;
  &__heading {
    font-size: 30px;
    font-family: $heading-font-family;
  }

  &__description {
      
    .up {
        height: 65vh;
        @include customFlex();
        margin: 0 auto;
        width: 65%;
        font-size: 1.7em;
        &__left {
            flex: 1;
            @include customFlex(space-evenly, stretch, column);
            background-color:$content-background-color;
            height: 100%;


            input, textarea, button{
              font-family: $content-font-family; 
              border-radius: 10px;
              outline:none;
              border: 0;
              padding: 10px 30px 10px 30px;
            }
            .name , .email {
              @include customFlex(space-around,center);
            }
            .description_label {
             margin: 0 auto;
            }
            .description__text {
          @include centeredGrid();
          textarea {
            padding: 17px 30px 17px 30px;
          }
            }
            .submit_button {
              margin: 0 auto;
              button {
              font-size: 25px;
              font-family: $content-font-family; 
              padding: 5px 70px 5px 70px;
              cursor: pointer;
              }
            }

        }
        &__right {
            flex: 1;
            background-color: $front-content-color;
            @include customFlex(center,center,column);
            color: #fff;
            font-size: 50px;
        }
    }
    .down {
       height: 15vh;
        position: relative;
        p {
           text-align: center;
           position: absolute;
           bottom: 0;
           left: 50%;
           transform: translateX(-50%);
           color: rgb(250, 0, 0);
           font-size: 40px;
        }
    }
  }
}
