@import "../Sass-Components/fonts";
@import "../Sass-Components/Variables";
@import "../Sass-Components/mixins";

.navbar-container {
  @include centeredGrid();
  height: 100%;
  width: 100px;
  position: fixed;
  left: 10px;
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: $front-content-color;
  height: 60vh;
  width: 120px;
  border-radius: 25px;

  &__link {
  @include centeredGrid();
  font-family: $navbar-font-family;
  text-decoration: none;
  color: $navbar-text-color;
  font-size: 21px;
  font-weight: 500;
  margin: 0 10px 0 10px;
  }
}
